package repository

import (
	"context"
	"os"
	"sync"

	"{{.PackageName}}/pkg/providers"
	dynamov2 "github.com/Drafteame/api/pkg/providers/dynamo/v2"
	"{{.PackageName}}/projects/framev2/pkg/tracer"
)

const PrvRepository = "domains.{{ .DomainNameLower }}.repository"

var (
	instance any
	once     = &sync.Once{}
)

func Provide(ctx context.Context, opt ...providers.Option) (any, error) {
	newCtx, span := tracer.BeginSubSegment(ctx, "domains.{{ .DomainNameLower }}.repository.Provide")
	defer span.Close(nil)

	if stage.IsTest() {
		return provideTest(ctx, opt...)
	}

	var err error

	once.Do(func() {
		i, errCreate := createInstance(newCtx, opt...)
		if errCreate != nil {
			err = errCreate
			return
		}

		instance = i
	})

	if err != nil {
		_ = span.AddError(err)
		return nil, err
	}

	return instance, nil
}

func provideTest(ctx context.Context, opt ...providers.Option) (any, error) {
	options, err := providers.BuildOptions(opt...)
	if err != nil {
		return nil, err
	}

	if options.Container.Exists(PrvRepository) {
		return options.Container.Get(PrvRepository), nil
	}

	aux, err := createInstance(ctx, opt...)
	if err != nil {
		return nil, err
	}

	options.Container.Set(PrvRepository, aux)

	return aux, nil
}

func createInstance(ctx context.Context, opts ...providers.Option) (*Repository, error) {
	newCtx, span := tracer.BeginSubSegment(ctx, "domains.a.repository.createInstance")
	defer span.Close(nil)

	dynamoDriver, err := providers.As[Dynamo](newCtx, dynamov2.Provide, opts...)
	if err != nil {
		_ = span.AddError(err)
		return nil, err
	}

	return New(dynamoDriver), nil
}
