package service

import (
	"context"

	"{{.PackageName}}/{{ .DomainPath }}/domain"
	oteltracer "{{.PackageName}}/pkg/otel/tracer"
)

func (s *Service) Create(ctx context.Context, m domain.{{.DomainNamePascal}}) (domain.{{.DomainNamePascal}}, error) {
	ctx, span := oteltracer.StartSpan(ctx, oteltracer.ServiceSpanName("{{.DomainNameLower}}", "create"),
		oteltracer.WithAttributes(
			oteltracer.Domain("{{.DomainNameLower}}"),
			oteltracer.Layer(oteltracer.LayerService),
		),
	)
	defer span.End()

	created, err := s.repo.Create(ctx, m)
	if err != nil {
		oteltracer.SetError(ctx, err)
		return domain.{{.DomainNamePascal}}{}, err
	}

	return created, nil
}
