package service

import (
	"context"
	"sync"

	"{{.PackageName}}/{{ .DomainPath }}/repository"
	"{{.PackageName}}/pkg/providers"
	"{{.PackageName}}/projects/framev2/pkg/stage"
)

const PrvService = "domains.{{ .DomainNameLower }}.service"

var (
	instance any
	once     = &sync.Once{}
)

func Provide(ctx context.Context, opts ...providers.Option) (any, error) {
	if stage.IsTest() {
		return provideTest(ctx, opts...)
	}

	var err error

	once.Do(func() {
		i, errCreate := createInstance(ctx, opts...)
		if errCreate != nil {
			err = errCreate
			return
		}

		instance = i
	})

	if err != nil {
		return nil, err
	}

	return instance, nil
}

func provideTest(ctx context.Context, opts ...providers.Option) (any, error) {
	options, err := providers.BuildOptions(opts...)
	if err != nil {
		return nil, err
	}

	if options.Container.Exists(PrvService) {
		return options.Container.Get(PrvService), nil
	}

	aux, err := createInstance(ctx, opts...)
	if err != nil {
		return nil, err
	}

	options.Container.Set(PrvService, aux)

	return aux, nil
}

func createInstance(ctx context.Context, opts ...providers.Option) (*Service, error) {
	repo := providers.MustAs[Repository](ctx, repository.Provide, opts...)

	return New(repo), nil
}
