package handler

import (
    "github.com/Drafteame/api-draftea/projects/framev2/engine/lambda"
    "github.com/Drafteame/api-draftea/projects/framev2/pkg/consumer/v2/sqs"
    "github.com/Drafteame/api-draftea/projects/framev2/pkg/publisher/types"
)

type Event struct {}

type handler struct {}

func New() lambda.Resolver {
    return &handler{}
}

func (h *handler) Handler() lambda.Handler {
    return func(lc lambda.Context) {
        err := sqs.NewConsumer(lc, h.worker, sqs.WithSNS[types.Event[Event]]()).
            Consume()

        if err != nil {
            lc.Error(err)
            return
        }

        lc.Success(nil)
    }
}