package worker

import (
	"context"
	"fmt"

	"{{ .PackageName }}/projects/framev2/pkg/log"
	"{{ .PackageName }}/projects/framev2/pkg/publisher/types"
	oteltracer "{{ .PackageName }}/pkg/otel/tracer"
	"{{ .PackageName }}/{{ .ServicePath }}/{{ if not .IsLegacy }}cmd/{{ end }}snssqs/{{ .LambdaName }}/handler/dtos"
)

func (r *Resources) GenerateIdempotencyKey(ctx context.Context, event types.Event[dtos.Event], action string) string {
	eventRootID, ok := ctx.Value(base.CtxKeyRootID).(string)
	if !ok {
		log.Get().ErrorContext(ctx, "error obtaining root ID for idempotency key generation", "action", action)
	}

	return fmt.Sprintf("%s:%s", action, eventRootID)
}

func (r *Resources) SetIdempotency(ctx context.Context, evt types.Event[dtos.Event]) (err error) {
	defer func() {
		if r := recover(); r != nil {
			err = fmt.Errorf("%v", r)
			log.Get().ErrorContext(ctx, "panic recovered in {{ .LambdaName }} handler", "error", err)
		}
	}()

	idemKey := r.GenerateIdempotencyKey(ctx, evt, Action)

	return r.IdemService.Set(ctx, idemKey)
}

func (r *Resources) DelIdempotency(ctx context.Context, key string) error {
	if err := r.IdemService.Delete(ctx, key); err != nil {
		oteltracer.SetError(ctx, err)
		log.Get().ErrorContext(ctx, "error deleting idempotency key", "key", key, "error", err)
		return err
	}

	return nil
}

func (r *Resources) deleteIdempotency(ctx context.Context, evt types.Event[dtos.Event]) error {
	key := r.GenerateIdempotencyKey(ctx, evt, Action)

	if err := r.DelIdempotency(ctx, key); err != nil {
		oteltracer.SetError(ctx, err)
		log.Get().ErrorContext(ctx, "error deleting idempotency key", "key", key, "error", err)
		return err
	}

	return nil
}
