package worker

import (
    "context"
    "fmt"

    "{{ .PackageName }}/projects/framev2/pkg/logger"
	"{{ .PackageName }}/projects/framev2/pkg/publisher/types"
	"{{ .PackageName }}/projects/framev2/pkg/tracer"
	"{{ .PackageName }}/{{ .ServicePath }}/{{ if not .IsLegacy }}cmd/{{ end }}snssqs/{{ .LambdaName }}/handler/dtos"
)

func (r *Resources) GenerateIdempotencyKey(ctx context.Context, event types.Event[dtos.Event], action string) string {
	_, segment := tracer.BeginSubSegment(ctx, "{{ .ServiceName }}.snssqs.{{ .LambdaName }}.handler.worker.Resources.GenerateIdempotencyKey")
	defer segment.Close(nil)

	eventRootID, ok := ctx.Value(base.CtxKeyRootID).(string)
	if !ok {
	    log.Get().ErrorContext(newCtx, "error obtaining root ID for idempotency key generation", slog.String("action", action))
	}

	return fmt.Sprintf("%s:%s", action, eventRootID)
}

func (r *Resources) SetIdempotency(ctx context.Context, evt types.Event[dtos.Event]) (err error) {
	newCtx, segment := tracer.BeginSubSegment(ctx, "{{ .ServiceName }}.snssqs.{{ .LambdaName }}.handler.Worker.Resources.SetIdempotency")
	defer segment.Close(nil)

	defer func() {
		if r := recover(); r != nil {
			err = fmt.Errorf("%v", r)
			logger.Get().Err(err).Error("panic recovered in {{ .LambdaName }} handler")
		}
	}()

	idemKey := r.GenerateIdempotencyKey(newCtx, evt, Action)

	return r.IdemService.Set(newCtx, idemKey)
}

func (r *Resources) DelIdempotency(ctx context.Context, key string) error {
	newCtx, segment := tracer.BeginSubSegment(ctx, "{{ .ServiceName }}.snssqs.{{ .LambdaName }}.handler.Worker.Resources.DelIdempotency")
	defer segment.Close(nil)

	if err := r.IdemService.Delete(newCtx, key); err != nil {
		_ = segment.AddError(err)
		logger.Get().Err(err).Fields(map[string]any{"key": key}).Error("error deleting idempotency key")
		return err
	}

	return nil
}

func (r *Resources) deleteIdempotency(ctx context.Context, evt types.Event[dtos.Event]) error {
	newCtx, segment := tracer.BeginSubSegment(ctx, "{{ .ServiceName }}.snssqs.{{ .LambdaName }}.handler.Worker.Resources.deleteIdempotency")
	defer segment.Close(nil)

	key := r.GenerateIdempotencyKey(newCtx, evt, Action)

	if err := r.DelIdempotency(newCtx, key); err != nil {
		_ = segment.AddError(err)
		logger.Get().Err(err).Fields(map[string]any{"key": key}).Error("error deleting idempotency key")
		return err
	}

	return nil
}