package handler

import (
	"context"
	"embed"
	"net/http"

	"github.com/aws/aws-lambda-go/events"

	"{{ .PackageName }}/config/loaders/parsers/yaml"
	"{{ .PackageName }}/pkg/config/loader"
	"{{ .PackageName }}/pkg/config/loader/readers"
	lhttp "{{ .PackageName }}/pkg/lambda/http"
	lecho "{{ .PackageName }}/pkg/lambda/http/echo"
	"{{ .PackageName }}/pkg/lambda/decorators/health"
	"{{ .PackageName }}/pkg/lambda/decorators"
	"{{ .PackageName }}/projects/framev2/engine/http/middlewares"
	oteltracer "{{ .PackageName }}/pkg/otel/tracer"
	"{{ .PackageName }}/{{ .ServicePath }}/{{ if not .IsLegacy }}cmd/{{ end }}http/{{ .LambdaName }}/handler/worker"
)


//go:embed embed/*.yaml
var embedFs embed.FS

// Bootstrap is the entrypoint of the lambda
func Bootstrap() any {
	return decorators.Handle(
		func(ctx context.Context, event events.APIGatewayV2HTTPRequest) (events.APIGatewayV2HTTPResponse, error) {
			ctx, span := oteltracer.StartSpan(ctx, oteltracer.HandlerSpanName("{{ .ServiceName }}", "{{ .LambdaName }}"),
				oteltracer.WithAttributes(
					oteltracer.Domain("{{ .ServiceName }}"),
					oteltracer.Layer(oteltracer.LayerHandler),
				),
			)
			defer span.End()

			loader.LoadConfigs(ctx, loader.WithReaders(
				readers.Embed(embedFs, "embed/.app-config.yaml", yaml.Parser()),
			))

			r, err := worker.ProvideResources(ctx)
			if err != nil {
				oteltracer.SetError(ctx, err)
				return events.APIGatewayV2HTTPResponse{
					StatusCode: http.StatusInternalServerError,
					Body:       `{"message": "error processing request", "error": "` + err.Error() + `" }`,
				}, nil
			}

			if health.CheckHealthRequest(ctx) {
				return events.APIGatewayV2HTTPResponse{}, nil
			}

			e := lecho.New()
			e.{{ .HTTPMethod }}(worker.Path, worker.Worker(r), middlewares.AuthAPIKey())

			return lhttp.Serve(ctx, event, e)
		},
	)
}
