package domain

import (
	"time"

	"{{.PackageName}}/{{ .DomainPath }}/repository/daos"
)

type {{.DomainNamePascal}} struct {
	ID string

	// TODO: Add fields

	CreatedAt time.Time
	UpdatedAt time.Time
	DeletedAt *time.Time
}

func ToModel(m daos.{{.DomainNamePascal}}) ({{.DomainNamePascal}}, error) {
	return {{.DomainNamePascal}}{
		ID: m.ID,

		// TODO: [generated] add fields

		CreatedAt: m.CreatedAt,
		UpdatedAt: m.UpdatedAt,
		DeletedAt: m.DeletedAt,
	}, nil
}

func ToDAO(m {{.DomainNamePascal}}) (daos.{{.DomainNamePascal}}, error) {
	return daos.{{.DomainNamePascal}}{
		ID: m.ID,

		// TODO: [generated] add fields

		CreatedAt: m.CreatedAt,
		UpdatedAt: m.UpdatedAt,
		DeletedAt: m.DeletedAt,
	}, nil
}
