package worker

import (
	"context"

	"{{ .PackageName }}/pkg/providers"
	// prvidempotency "{{ .PackageName }}/pkg/providers/idempotency"
	oteltracer "{{ .PackageName }}/pkg/otel/tracer"
)

type Resources struct {
	IdemService       IdempotencyService
	// TODO: resources
}

func ProvideResources(ctx context.Context, opts ...providers.Option) (any, error) {
	ctx, span := oteltracer.StartSpan(ctx, oteltracer.HandlerSpanName("{{ .ServiceName }}", "provide-resources"),
		oteltracer.WithAttributes(
			oteltracer.Domain("{{ .ServiceName }}"),
			oteltracer.Layer(oteltracer.LayerHandler),
		),
	)
	defer span.End()

  // TODO: change to correct idempotency provider
	// idemService, err := prvidempotency.ProvideTurbo(opts...)
	// if err != nil {
	//  _ = span.AddError(err)
	// 	return nil, err
	// }

	// TODO: Implement your resources logic here

	return &Resources{
		// IdemService:       idemService,
		// TODO: resources
	}, nil
}
