package worker

import (
	"context"

	"{{ .PackageName }}/pkg/providers"
	// prvidempotency "{{ .PackageName }}/pkg/providers/idempotency"
)

type Resources struct {
	IdemService       IdempotencyService
	// TODO: resources
}

func ProvideResources(ctx context.Context, opts ...providers.Option) (any, error) {
	// TODO: change to correct idempotency provider
	// idemService, err := prvidempotency.ProvideTurbo(opts...)
	// if err != nil {
	//  oteltracer.SetError(ctx, err)
	// 	return nil, err
	// }

	// TODO: Implement your resources logic here

	return &Resources{
		// IdemService:       idemService,
		// TODO: resources
	}, nil
}
