package worker

import (
	"context"

	"{{ .PackageName }}/pkg/providers"
	// prvidempotency "{{ .PackageName }}/pkg/providers/idempotency"
	"{{ .PackageName }}/projects/framev2/pkg/tracer"

)

type Resources struct {
	IdemService       IdempotencyService
	// TODO: resources
}

func ProvideResources(ctx context.Context, opts ...providers.Option) (any, error) {
	_, span := tracer.BeginSubSegment(ctx, "{{ .ServiceName }}.sqs.{{ .LambdaName }}.handler.worker.ProvideResources")
	defer span.Close(nil)

  // TODO: change to correct idempotency provider
	// idemService, err := prvidempotency.ProvideTurbo(opts...)
	// if err != nil {
	//  _ = span.AddError(err)
	// 	return nil, err
	// }

	// TODO: Implement your resources logic here

	return &Resources{
		// IdemService:       idemService,
		// TODO: resources
	}, nil
}
