package worker

import (
	"context"

	"{{ .PackageName }}/pkg/consumer/base"
	oteltracer "{{ .PackageName }}/pkg/otel/tracer"
	"{{ .PackageName }}/{{ .ServicePath }}/{{ if not .IsLegacy }}cmd/{{ end }}sqs/{{ .LambdaName }}/handler/dtos"
)

const (
	Action = "" // TODO: set action name
)

func Worker(r *Resources) base.Worker[dtos.Event] {
	return func(ctx context.Context, event dtos.Event) error {
		ctx, span := oteltracer.StartSpan(ctx, oteltracer.HandlerSpanName("{{ .ServiceName }}", "worker"),
			oteltracer.WithAttributes(
				oteltracer.Domain("{{ .ServiceName }}"),
				oteltracer.Layer(oteltracer.LayerHandler),
			),
		)
		defer span.End()

		// TODO: Implement your worker logic here
		return nil
	}
}
