package worker

import (
    "context"

    "{{ .PackageName }}/pkg/consumer/base"
    "{{ .PackageName }}/projects/framev2/pkg/log"
	"{{ .PackageName }}/projects/framev2/pkg/publisher/types"
	"{{ .PackageName }}/projects/framev2/pkg/tracer"
	"{{ .PackageName }}/{{ .ServicePath }}/{{ if not .IsLegacy }}cmd/{{ end }}sqs/{{ .LambdaName }}/handler/dtos"
)

func Worker(r *Resources) base.Worker[types.Event[dtos.Event]] {
    return func(ctx context.Context, event types.Event[dtos.Event]) error {
        newCtx, segment := tracer.BeginSubSegment(ctx, "{{ .ServiceName }}.sqs.{{ .LambdaName }}.handler.worker.Worker")
    	defer segment.Close(nil)

        // TODO: Implement your worker logic here

        log.Get().DebugContext(newCtx, "finish {{ .LambdaName }} worker")

        return nil
    }
}