.envs: &default
  APP_NAME: ${self:service}
  STAGE: ${env:STAGE}

  PORT: 8080
  CORS: true
  API_KEY: ${ssm:/service/auth/${self:custom.stage}/API_KEY}

  DD_API_KEY: ${ssm:/service/datadog/${self:custom.stage}/API_KEY}
  DD_SITE: datadoghq.com
  DD_ENV: ${self:custom.stage}
  DD_SERVERLESS_LOGS_ENABLED: "true"
  OTEL_TRACES_ENABLED: "true"
  OTEL_METRICS_ENABLED: "true"
  OPENTELEMETRY_COLLECTOR_CONFIG_URI: "/opt/collector.yaml"

feature:
  environment:
    <<: *default
    DEBUG: true
    OTEL_TRACES_SAMPLE_RATE: "1.0"

dev:
  environment:
    <<: *default
    DEBUG: false
    OTEL_TRACES_SAMPLE_RATE: "1.0"

prod:
  environment:
    <<: *default
    DEBUG: false
    OTEL_TRACES_SAMPLE_RATE: "1.0"
