.iam: &service_roles
  deploymentRole: ${ssm:/service/roles/${self:provider.stage}/deployment-role}

  # Service level permissions
  #
  role: ${file(../../config/sls/lambda-role.yml):role}

feature:
  roles:
    <<: *service_roles

dev:
  roles:
    <<: *service_roles

prod:
  roles:
    <<: *service_roles
