.iam: &service_roles
  deploymentRole: ${ssm:/service/roles/${self:provider.stage}/deployment-role}

  # Service level permissions
  #
  role:
    statements:
      - Effect: Allow
        Action: lambda:InvokeFunction
        Resource: "*"
      - Effect: Allow
        Action: sqs:*
        Resource: "*"
      - Effect: Allow
        Action: events:PutRule
        Resource: "*"
      - Effect: Allow
        Action: secretsmanager:*
        Resource: "*"
      - Effect: Allow
        Action: s3:*
        Resource: "*"
      - Effect: Allow
        Action: sns:*
        Resource: "*"

feature:
  roles:
    <<: *service_roles

dev:
  roles:
    <<: *service_roles

prod:
  roles:
    <<: *service_roles
