package handler

import (
    "{{ .PackageName }}/projects/framev2/engine"
    "{{ .PackageName }}/projects/framev2/engine/decorators/datadog"
    "{{ .PackageName }}/projects/framev2/engine/lambda"
    "{{ .PackageName }}/projects/framev2/engine/lambda/middlewares"

    _ "{{ .PackageName }}/config/loaders" //revive:disable:blank-imports
)

// Bootstrap is the entrypoint of the lambda
func Bootstrap() {
    lambda.NewEngine(
        engine.WithLambdaDecorator(datadog.Trace),
    ).WithMiddleware(
        middlewares.Recover(),
    ).{{ if not .UseDig }}SetProvider{{ end }}{{ if .UseDig }}WithResolver{{ end }}(
        {{ if not .UseDig }}Provide{{ end }}{{ if .UseDig }}New{{ end }},
    ).WithExecutionMode(
        lambda.PlainMode,
    ).Start()
}
