package handler

import (
    {{ if not .UseDig }}"{{ .PackageName }}/pkg/providers"
    {{ end }}"{{ .PackageName }}/projects/framev2/engine/lambda"
)

type handler struct{}

func New({{ if not .UseDig }}_ ...providers.Option{{ end }}) lambda.Resolver {
    return &handler{}
}

func (h *handler) Handler() lambda.Handler {
    return func(lc lambda.Context) {
        // TODO: Implement your logic here
        lc.Success(nil)
    }
}
