function:
  {{ .LambdaName }}:
    handler: {{if not .IsLegacy}}cmd/{{ end }}sqs/{{ .LambdaName }}/main.go
    layers: ${self:custom.otelFunctionLayers}
    disableLogs: true
    reservedConcurrency: ${self:custom.reservedConcurrency.{{ .ReservedConcurrency }}}
    events:
      - sqs:
          arn: '{{ .QueueARN }}'