function:
  {{ .LambdaName }}:
    handler: {{if not .IsLegacy}}cmd/{{ end }}sqs/{{ .LambdaName }}/main.go
    reservedConcurrency: ${self:custom.reservedConcurrency.medium.http}
    events:
      - sqs:
          arn: '{{ .QueueARN }}'