package tableid

import (
	"context"
	"sync"

	"{{.PackageName}}/{{ .DomainPath }}/repository/daos"
	"{{.PackageName}}/pkg/generators/nanoid"
	"{{.PackageName}}/pkg/providers"
	"{{.PackageName}}/projects/framev2/pkg/stage"
)

const Prv{{.DomainNamePascal}} = "pkg.generators.nanoid.tableid.{{.DomainNamePascal}}"

var (
	instance{{.DomainNamePascal}} any
	once{{.DomainNamePascal}}     = &sync.Once{}
)

func Provide{{.DomainNamePascal}}(ctx context.Context, opts ...providers.Option) (any, error) {
	if stage.IsTest() {
		return provideTest(Prv{{.DomainNamePascal}}, daos.DBPrefix, opts...)
	}

	once{{.DomainNamePascal}}.Do(func() {
		instance{{.DomainNamePascal}} = nanoid.New(nanoid.WithPrefix(daos.DBPrefix), nanoid.WithLength(length))
	})

	return instance{{.DomainNamePascal}}, nil
}
