package worker

import (
	"net/http"

	oteltracer "{{ .PackageName }}/pkg/otel/tracer"
	"{{ .PackageName }}/{{ .ServicePath }}/{{ if not .IsLegacy }}cmd/{{ end }}http/{{ .LambdaName }}/handler/dtos"
	"github.com/labstack/echo/v4"
)

const Path = "{{ .HTTPPathAPIGateway }}"

func Worker(r *Resources) echo.HandlerFunc {
	return func(ec echo.Context) error {
		_, span := oteltracer.StartSpan(ec.Request().Context(),
			oteltracer.HandlerSpanName("{{ .ServiceName }}", ec.Request().Method),
			oteltracer.WithAttributes(
				oteltracer.Domain("{{ .ServiceName }}"),
				oteltracer.Layer(oteltracer.LayerHandler),
			),
		)
		defer span.End()

		var request dtos.RequestDTO

		// TODO: Implement your worker logic here

		return ec.JSON(http.StatusOK, echo.Map{
			// TODO: response
		})
	}
}
