package worker

import (
	"net/http"

	"{{ .PackageName }}/projects/framev2/pkg/tracer"
	"{{ .PackageName }}/{{ .ServicePath }}/{{ if not .IsLegacy }}cmd/{{ end }}http/{{ .LambdaName }}/handler/dtos"
	"github.com/labstack/echo/v4"
)

const Path = "{{ .HTTPPathAPIGateway }}"

func Worker(r *Resources) echo.HandlerFunc {
	return func(ec echo.Context) error {
		newCtx, segment := tracer.BeginSubSegment(ec.Request().Context(), "{{ .ServiceName }}.http.{{ .LambdaName }}.handler.worker.Worker")
		defer segment.Close(nil)

		var request dtos.RequestDTO

		// TODO: Implement your worker logic here

		return ec.JSON(http.StatusOK, echo.Map{
			// TODO: response
		})
	}
}
