package handler

import (
	"{{.PackageName}}/pkg/providers"
	"{{.PackageName}}/projects/framev2/engine/lambda"
)

func Provide(opts ...providers.Option) (lambda.Resolver, error) {
	// TODO: call providers for handler dependencies

	r := New()

	return r, nil
}
