package worker

import (
	"context"

	"{{ .PackageName }}/pkg/providers"
)

type Resources struct {
	// TODO: resources
}

func ProvideResources(ctx context.Context, opts ...providers.Option) (*Resources, error) {
	// TODO: Implement your resources logic here

	return &Resources{
		// TODO: resources
	}, nil
}
