package providers

import (
	"{{.PackageName}}/{{ .DomainPath }}/repository/daos"
	"{{.PackageName}}/pkg/providers"
	prvidgenerator "{{.PackageName}}/pkg/providers/idgenerator"
)

func ProvideGeneratorID(opts ...providers.Option) (prvidgenerator.GeneratorV2, error) {
	return prvidgenerator.ProvideV2(daos.DBPrefix, opts...)
}
