package providers

const (
	PrvGeneratorID = "dmn.{{.DomainNameLower}}.ProvideGeneratorID"
	PrvRepository  = "dmn.{{.DomainNameLower}}.Repository"
	PrvService     = "dmn.{{.DomainNameLower}}.Service"
)
