function:
  {{ .LambdaName }}:
    handler: {{if not .IsLegacy}}cmd/{{ end }}plain/{{ .LambdaName }}/main.go
    disableLogs: true
    reservedConcurrency: ${self:custom.reservedConcurrency.{{ .ReservedConcurrency }}}