function:
  {{ .LambdaName }}:
    handler: {{if not .IsLegacy}}cmd/{{ end }}http/{{ .LambdaName }}/main.go
    {{- if .UseOtel }}
    layers: ${self:custom.otelFunctionLayers}
    {{- end }}
    disableLogs: true
    reservedConcurrency: ${self:custom.reservedConcurrency.{{ .ReservedConcurrency }}}
    events:
      - httpApi:
          path: '{{ .HTTPPathAPIGateway }}'
          method: '{{ .HTTPMethod }}'