module config.modules

import ".../config/pkl/sqs.pkl" as sqs
import ".../config/pkl/sns.pkl" as sns
import ".../config/pkl/s3.pkl" as s3
import ".../config/pkl/slack.pkl" as slack
import ".../config/pkl/lambda.pkl" as lambda
import ".../config/pkl/generic.pkl" as generic
import ".../config/pkl/classes.pkl" as classes

/// SQS queues
/// -------------------------------------------------------------------------------

local queues: List<String> = List()

/// SNS topics
/// -------------------------------------------------------------------------------

local topics: List<String> = List()

/// Slack Webhooks
/// -------------------------------------------------------------------------------

local slackWebhooks: List<slack.Webhook> = List()

/// Slack Channels
/// -------------------------------------------------------------------------------

local slackChannels: List<slack.Channel> = List()

/// Lambdas
/// -------------------------------------------------------------------------------

local lambdas: List<lambda.Lambda> = List()

/// S3
/// -------------------------------------------------------------------------------

local buckets: List<String> = List()

/// Generic
/// -------------------------------------------------------------------------------

local generics: List<classes.ConfEnv> = List(
  // Add your generic configurations here from generic.pkl
  {{- if .CustomDomain }}
  generic.cors
  {{- end }}
)

/// Service configurations
/// -------------------------------------------------------------------------------

local serviceConfigs: List<classes.ConfEnv> = List(
  // Add your service configurations here
)

/// Merge modules config
/// -------------------------------------------------------------------------------

config {
  ...sqs.getEnvs(queues)
  ...sns.getEnvs(topics)
  ...slack.getEnvs(slackWebhooks)
  ...slack.getEnvs(slackChannels)
  ...lambda.getEnvs(lambdas)
  ...s3.getEnvs(buckets)
  ...generic.getEnvs(generics)
  ...generic.getEnvs(serviceConfigs)
}