package worker

import (
	"context"

	oteltracer "{{ .PackageName }}/pkg/otel/tracer"
	"github.com/aws/aws-lambda-go/events"
)

func Worker(r *Resources) func(ctx context.Context, event events.CloudWatchEvent) (error, error) {
	return func(ctx context.Context, event events.CloudWatchEvent) (error, error) {
		ctx, span := oteltracer.StartSpan(ctx, oteltracer.HandlerSpanName("{{ .ServiceName }}", "worker"),
			oteltracer.WithAttributes(
				oteltracer.Domain("{{ .ServiceName }}"),
				oteltracer.Layer(oteltracer.LayerHandler),
			),
		)
		defer span.End()

		// TODO: implement worker logic here

		return nil, nil
	}
}
