package repository

import (
	"context"
	"errors"
	"strings"

	"{{.PackageName}}/{{ .DomainPath }}/domain"
	"{{.PackageName}}/{{ .DomainPath }}/repository/daos"
)

func (r *Repository) Create(ctx context.Context, entity domain.{{.DomainNamePascal}}) (domain.{{.DomainNamePascal}}, error) {
	if entity.ID == "" {
		id, err := r.genID.Generate()
		if err != nil {
			return domain.{{.DomainNamePascal}}{}, errors.Join(domain.ErrUnexpected, err)
		}

		entity.ID = id
	}

	dao := daos.FromModel(entity)

	if dbErr := r.driver.GetClient().WithContext(ctx).Create(&dao).Error; dbErr != nil {
		if strings.Contains(dbErr.Error(), "duplicate key") {
			return domain.{{.DomainNamePascal}}{}, errors.Join(domain.ErrDuplicatedRecord, dbErr)
		}

		return domain.{{.DomainNamePascal}}{}, errors.Join(domain.ErrUnexpected, dbErr)
	}

	return r.Get(ctx, entity.ID)
}
