package repository

import (
	"context"
	"errors"
	"strings"

	"{{.PackageName}}/{{ .DomainPath }}/domain"
	"{{.PackageName}}/{{ .DomainPath }}/repository/daos"
	"{{.PackageName}}/projects/framev2/pkg/tracer"
)

func (r *Repository) Create(ctx context.Context, entity domain.{{.DomainNamePascal}}) (domain.{{.DomainNamePascal}}, error) {
	newCtx, span := tracer.BeginSubSegment(ctx, "domains.{{ .DomainNameLower }}.repository.Create")
	defer span.Close(nil)

	if entity.ID == "" {
		id, err := r.genID.Generate()
		if err != nil {
			err = errors.Join(domain.ErrUnexpected, err)
			_ = span.AddError(err)
			return domain.{{.DomainNamePascal}}{}, err
		}

		entity.ID = id
	}

	dao := daos.FromDomain(entity)

	if dbErr := r.driver.GetClient().WithContext(newCtx).Create(&dao).Error; dbErr != nil {
		if strings.Contains(dbErr.Error(), "duplicate key") {
			err := errors.Join(domain.ErrDuplicatedRecord, dbErr)
			_ = span.AddError(err)
			return domain.{{.DomainNamePascal}}{}, err
		}

		err := errors.Join(domain.ErrUnexpected, dbErr)
		_ = span.AddError(err)
		return domain.{{.DomainNamePascal}}{}, err
	}

	return r.Get(newCtx, entity.ID)
}
