package repository

import (
	"context"
	"errors"

	"{{.PackageName}}/{{ .DomainPath }}/domain"
	"{{.PackageName}}/{{ .DomainPath }}/repository/daos"
	"{{.PackageName}}/projects/framev2/pkg/tracer"
)

func (r *Repository) Delete(ctx context.Context, id string) (domain.{{.DomainNamePascal}}, error) {
	newCtx, span := tracer.BeginSubSegment(ctx, "domains.{{ .DomainNameLower }}.repository.Delete")
	defer span.Close(nil)

	entity, err := r.Get(newCtx, id)
	if err != nil {
		_ = span.AddError(err)
		return domain.{{.DomainNamePascal}}{}, err
	}

	now := r.clock.Now()

	update := daos.Delete{{.DomainNamePascal}}{
		ID:        id,
		DeletedAt: &now,
	}

	if err := r.driver.GetClient().Model(&daos.{{.DomainNamePascal}}{}).WithContext(newCtx).Where("id = ?", id).Updates(update).Error; err != nil {
		dbErr := errors.Join(domain.ErrDeleteRecord, err)
		_ = span.AddError(dbErr)
		return domain.{{.DomainNamePascal}}{}, dbErr
	}

	entity.DeletedAt = &now
	return entity, nil
}
