package repository

import (
	"context"
	"errors"

	"gorm.io/gorm"

	"{{.PackageName}}/{{ .DomainPath }}/domain"
	"{{.PackageName}}/{{ .DomainPath }}/repository/daos"
)

func (r *Repository) Get(ctx context.Context, id string) (domain.{{.DomainNamePascal}}, error) {
	gormDB := r.driver.GetClient()

	dao := daos.{{.DomainNamePascal}}{}

	err := gormDB.WithContext(ctx).
		Model(daos.{{.DomainNamePascal}}{}).
		Where("id = ? AND deleted_at IS NULL", id).
		First(&dao).
		Error

	if err != nil {
		if errors.Is(err, gorm.ErrRecordNotFound) {
			return domain.{{.DomainNamePascal}}{}, errors.Join(domain.ErrRecordNotFound, err)
		}

		return domain.{{.DomainNamePascal}}{}, errors.Join(domain.ErrUnexpected, err)
	}

	return domain.ToModel(dao)
}
