package repository

import (
	"context"
	"testing"

	"github.com/stretchr/testify/assert"

	"{{.PackageName}}/{{ .DomainPath }}/domain"
	prvpostgres "{{.PackageName}}/pkg/providers/postgres"
)

func TestGet(t *testing.T) {
	t.Parallel()

	t.Run("success", func(t *testing.T) {
		t.Parallel()

		tw := newTestWrapper(t)

		driver := tw.mc.Get(prvpostgres.ProviderName(prvpostgres.Prv{{.DBProviderFuncName}})).(gorm.Driver)

		data := domain.{{.DomainNamePascal}}{
			ID: "some-id",
		}

		if err := driver.GetClient().Create(&data).Error; err != nil {
			t.Fatal(err)
		}

		got, err := tw.repo.Get(context.TODO(), data.ID)
		if err != nil {
			t.Fatal(err)
		}

		assert.Equal(t, data.ID, got.ID)
		assert.NotEmpty(t, got.CreatedAt)
		assert.NotEmpty(t, got.UpdatedAt)
	})

	t.Run("not found", func(t *testing.T) {
		t.Parallel()

		tw := newTestWrapper(t)

		_, err := tw.repo.Get(context.TODO(), "not-found")
		if err == nil {
			t.Fatal("expected error, got nil")
		}

		assert.Error(t, err)
		assert.ErrorIs(t, err, rposome.ErrRecordNotFound)
	})
}
