package repository

import (
	"context"
	"testing"

	"github.com/stretchr/testify/assert"

	"{{.PackageName}}/{{ .DomainPath }}/domain"
)

func TestGet(t *testing.T) {
	t.Parallel()

	t.Run("success", func(t *testing.T) {
		t.Parallel()

		tw := newTestWrapper(t)

		entity, err := tw.repo.Create(context.TODO(), domain.{{.DomainNamePascal}}{ID: "some-id"})
		if err != nil {
			t.Fatal(err)
		}

		got, err := tw.repo.Get(context.TODO(), entity.ID)
		if err != nil {
			t.Fatal(err)
		}

		assert.Equal(t, entity.ID, got.ID)
		assert.NotEmpty(t, got.CreatedAt)
		assert.NotEmpty(t, got.UpdatedAt)
	})

	t.Run("not found", func(t *testing.T) {
		t.Parallel()

		tw := newTestWrapper(t)

		_, err := tw.repo.Get(context.TODO(), "not-found")
		if err == nil {
			t.Fatal("expected error, got nil")
		}

		assert.Error(t, err)
		assert.ErrorIs(t, err, domain.ErrRecordNotFound)
	})
}
