package repository_test

import (
	"context"
	"testing"

	"github.com/stretchr/testify/assert"

	rposome "{{.PackageName}}/domains/{{.DomainPath}}/domain"
	"{{.PackageName}}/domains/{{.DomainPath}}/repository/daos"
	prvpostgres "{{.PackageName}}/pkg/providers/postgres"
	"{{.PackageName}}/projects/framev2/pkg/drivers/gorm"
)

func TestGet(t *testing.T) {
	t.Parallel()

	t.Run("success", func(t *testing.T) {
		t.Parallel()

		tw := newTestWrapper(t)

		driver := tw.mu.Get(prvpostgres.PrvGeneral).(gorm.Driver)

		data := daos.{{.DomainNamePascal}}{
			ID: "some-id",
		}

		if err := driver.GetClient().Create(&data).Error; err != nil {
			t.Fatal(err)
		}

		got, err := tw.repo.Get(context.TODO(), data.ID)
		if err != nil {
			t.Fatal(err)
		}

		assert.Equal(t, data.ID, got.ID)
		assert.NotEmpty(t, got.CreatedAt)
		assert.NotEmpty(t, got.UpdatedAt)
	})

	t.Run("not found", func(t *testing.T) {
		t.Parallel()

		tw := newTestWrapper(t)

		_, err := tw.repo.Get(context.TODO(), "not-found")
		if err == nil {
			t.Fatal("expected error, got nil")
		}

		assert.Error(t, err)
		assert.ErrorIs(t, err, rposome.ErrRecordNotFound)
	})
}
