package repository

import (
	"context"
	"sync"

	"{{.PackageName}}/pkg/providers"
	prvdatetime "{{.PackageName}}/pkg/providers/datetime"
	prvgenerator "{{.PackageName}}/pkg/providers/generators/nanoid/tableid"
	prvpostgres "{{.PackageName}}/pkg/providers/postgres"
	"{{.PackageName}}/projects/framev2/pkg/drivers/gorm"
	"{{.PackageName}}/projects/framev2/pkg/stage"
)

const PrvRepo = "domains.{{ .DomainNameLower }}.repository"

var (
	instance any
	once     = &sync.Once{}
)

func Provide(ctx context.Context, opt ...providers.Option) (any, error) {
	if stage.IsTest() {
		return provideTest(ctx, opt...)
	}

	var err error

	once.Do(func() {
		i, errCreate := createInstance(ctx, opt...)
		if errCreate != nil {
			err = errCreate
			return
		}

		instance = i
	})

	if err != nil {
		return nil, err
	}

	return instance, nil
}

func provideTest(ctx context.Context, opt ...providers.Option) (any, error) {
	options, err := providers.BuildOptions(opt...)
	if err != nil {
		return nil, err
	}

	if options.Container.Exists(PrvRepo) {
		return options.Container.Get(PrvRepo), nil
	}

	aux, err := createInstance(ctx, opt...)
	if err != nil {
		return nil, err
	}

	options.Container.Set(PrvRepo, aux)

	return aux, nil
}

func createInstance(ctx context.Context, opts ...providers.Option) (any, error) {
	driver := providers.MustAs[gorm.Driver](ctx, prvpostgres.Provide{{.DBProviderFuncName}}, opts...)

	clock := providers.MustAs[Clock](ctx, prvdatetime.ProvideClock, opts...)

	generatorID := providers.MustAs[GeneratorID](ctx, prvgenerator.Provide{{.DomainNamePascal}}, opts...)

	return New(driver, clock, generatorID), nil
}
