package repository

import (
	"{{.PackageName}}/projects/framev2/pkg/drivers/gorm"
)

type Repository struct {
	clock  Clock
	driver gorm.Driver
	genID  GeneratorID
}

func New(driver gorm.Driver, clock Clock, genID GeneratorID) *Repository {
	return &Repository{
		clock:  clock,
		driver: driver,
		genID:  genID,
	}
}
