package repository

import (
	"context"
	"testing"

	"{{.PackageName}}/pkg/providers"
	prvdatetime "{{.PackageName}}/pkg/providers/datetime"
	prvpostgres "{{.PackageName}}/pkg/providers/postgres"
	"{{.PackageName}}/pkg/providers/test/container"
	"{{.PackageName}}/projects/framev2/pkg/datetime"
	"{{.PackageName}}/projects/framev2/pkg/drivers/gorm"
	"{{.PackageName}}/{{ .DomainPath }}/repository/daos"
)

type testWrapper struct {
	mc              *container.Container
	t               *testing.T
	repo            *Repository
	{{.DomainNameLower}}GormDriver gorm.Driver
	clock           datetime.Clock
	ctx             context.Context
}

type testWrapperOptions struct {
	overrides map[string]any
}

type testWrapperOption func(*testWrapperOptions)

func withOverrides(overrides map[string]any) testWrapperOption {
	return func(opts *testWrapperOptions) {
		opts.overrides = overrides
	}
}

func newTestWrapper(t *testing.T, opts ...testWrapperOption) *testWrapper {
	t.Helper()

	options := testWrapperOptions{}
	for _, opt := range opts {
		opt(&options)
	}

	mc := container.New(t)

	if options.overrides != nil && len(options.overrides) > 0 {
		for k, v := range options.overrides {
			mc.Override(k, v)
		}
	}

	repository := providers.MustAs[*Repository](t.Context(), Provide,
		providers.WithTestActor(t),
		providers.WithContainer(mc),
	)

	{{.DomainNameLower}}GormDriver := mc.Get(prvpostgres.ProviderName(prvpostgres.Prv{{.DBProviderFuncName}})).(gorm.Driver)
	clock := mc.Get(prvdatetime.PrvClock).(datetime.Clock)

	db := {{.DomainNameLower}}GormDriver.GetClient()
	if err := db.AutoMigrate(&daos.{{.DomainNamePascal}}{}); err != nil {
		t.Fatalf("failed to migrate schema: %v", err)
	}

	return &testWrapper{
		mc:              mc,
		t:               t,
		clock:           clock,
		repo:            repository,
		{{.DomainNameLower}}GormDriver: {{.DomainNameLower}}GormDriver,
		ctx:             context.Background(),
	}
}
