package repository

import (
	"context"

	"{{.PackageName}}/{{ .DomainPath }}/domain"
	"{{.PackageName}}/{{ .DomainPath }}/domain/options"
)

// SearchOne finds the first record for the search options.
func (r *Repository) SearchOne(ctx context.Context, filters options.SearchFilters) (domain.{{.DomainNamePascal}}, error) {
	opts := options.NewSearchOptions().
		SetFilters(filters).
		Limit(1)

	list, _, err := r.Search(ctx, opts)
	if err != nil {
		return domain.{{.DomainNamePascal}}{}, err
	}

	if len(list) == 0 {
		return domain.{{.DomainNamePascal}}{}, domain.ErrRecordNotFound
	}

	return list[0], nil
}
