package repository

import (
	"context"

	"{{.PackageName}}/{{ .DomainPath }}/domain"
	"{{.PackageName}}/{{ .DomainPath }}/domain/options"
	"{{.PackageName}}/{{ .DomainPath }}/repository/builders"
	"{{.PackageName}}/{{ .DomainPath }}/repository/daos"
)

// Search finds records for the search options.
func (r *Repository) Search(ctx context.Context, opts options.SearchOptions) ([]domain.{{.DomainNamePascal}}, int64, error) {
	var daos []daos.{{.DomainNamePascal}}
	client := r.driver.GetClient().Model(&daos)

	client = builders.SearchOptions(client, opts)

	err := client.WithContext(ctx).Find(&daos).Error
	if err != nil {
		return nil, 0, err
	}

	var total int64
	if opts.Pagination.Limit != 1 {
		client.Offset(-1).Count(&total)
	}

	result := make([]domain.{{.DomainNamePascal}}, 0, len(daos))
	for _, dao := range daos {
		model, err := domain.ToModel(dao)
		if err != nil {
			return nil, 0, err
		}
		result = append(result, model)
	}

	return result, total, nil
}
