package repository_test

import (
	"context"
	"testing"

	"github.com/stretchr/testify/assert"

	"{{.PackageName}}/{{ .DomainPath }}/domain"
	"{{.PackageName}}/{{ .DomainPath }}/domain/options"
	"{{.PackageName}}/{{ .DomainPath }}/repository/daos"
)

func TestUpdate(t *testing.T) {
	t.Parallel()

	t.Run("success", func(t *testing.T) {
		t.Parallel()

		tw := newTestWrapper(t)

		data, err := tw.repo.Create(context.TODO(), daos.{{.DomainNamePascal}}{})
		if err != nil {
			t.Fatal(err)
		}

		fields := options.NewUpdateFields()

		_, err = tw.repo.Update(context.TODO(), data.ID, fields)

		assert.NoError(t, err)
	})

	t.Run("error updating not found entity", func(t *testing.T) {
		t.Parallel()

		tw := newTestWrapper(t)

		fields := options.NewUpdateFields()

		_, err := tw.repo.Update(context.TODO(), "not-found", fields)

		assert.Error(t, err)
		assert.ErrorIs(t, err, domain.ErrRecordNotFound)
	})
}
