package repository

import (
	"context"

	"{{.PackageName}}/{{ .DomainPath }}/domain"
	"{{.PackageName}}/{{ .DomainPath }}/domain/options"
	"{{.PackageName}}/{{ .DomainPath }}/repository/daos"
	"{{.PackageName}}/projects/framev2/pkg/tracer"
)

func (r *Repository) Update(ctx context.Context, id string, fields options.UpdateFields) (domain.{{.DomainNamePascal}}, error) {
	newCtx, span := tracer.BeginSubSegment(ctx, "domains.{{ .DomainNameLower }}.repository.Update")
	defer span.Close(nil)

	entity, err := r.Get(newCtx, id)
	if err != nil {
		_ = span.AddError(err)
		return domain.{{.DomainNamePascal}}{}, err
	}

	updated := daos.ToUpdateDAO(id, fields)

	dao := daos.FromDomain(entity)

	if err := r.driver.GetClient().Model(&dao).WithContext(newCtx).Updates(updated).Error; err != nil {
		_ = span.AddError(err)
		return domain.{{.DomainNamePascal}}{}, err
	}

	return r.Get(newCtx, id)
}
