package repository

import (
	"context"

	"{{.PackageName}}/{{ .DomainPath }}/domain"
	"{{.PackageName}}/{{ .DomainPath }}/domain/options"
	"{{.PackageName}}/{{ .DomainPath }}/repository/daos"
)

func (r *Repository) Update(ctx context.Context, id string, fields options.UpdateFields) (domain.{{.DomainNamePascal}}, error) {
	entity, err := r.Get(ctx, id)
	if err != nil {
		return domain.{{.DomainNamePascal}}{}, err
	}

	updated := daos.ToUpdateDAO(id, fields)

	dao := daos.FromDomain(entity)

	if err := r.driver.GetClient().Model(&dao).Updates(updated).Error; err != nil {
		return domain.{{.DomainNamePascal}}{}, err
	}

	return r.Get(ctx, id)
}
