package worker

import (
	"context"

	"{{ .PackageName }}/pkg/providers"
{{- if .UseIdempotency }}
	prvidempotency "{{ .PackageName }}/pkg/providers/idempotency"
	oteltracer "{{ .PackageName }}/pkg/otel/tracer"
{{- end }}
)

type Resources struct {
{{- if .UseIdempotency }}
	IdemService IdempotencyService
{{- end }}
	// TODO: resources
}

func ProvideResources(ctx context.Context, opts ...providers.Option) (any, error) {
{{- if .UseIdempotency }}
	idemService, err := prvidempotency.ProvideTurbo(opts...) // TODO: change to correct idempotency provider
	if err != nil {
		oteltracer.SetError(ctx, err)
		return nil, err
	}

{{- end }}
	// TODO: Implement your resources logic here

	return &Resources{
{{- if .UseIdempotency }}
		IdemService: idemService,
{{- end }}
		// TODO: resources
	}, nil
}
