package handler

import (
    "github.com/labstack/echo/v4/middleware"

	"{{ .PackageName }}/projects/framev2/engine"
	"{{ .PackageName }}/projects/framev2/engine/decorators/apigateway"
	"{{ .PackageName }}/projects/framev2/engine/decorators/datadog"
	"{{ .PackageName }}/projects/framev2/engine/http"
	"{{ .PackageName }}/projects/framev2/engine/http/middlewares"

	_ "{{ .PackageName }}/config/loaders" //revive:disable:blank-imports
)

var corsConfig middleware.CORSConfig

func init() {
	corsConfig = middlewares.DefaultCORSConfig()
	corsConfig.AllowHeaders = append(corsConfig.AllowHeaders, "X-Transaction-Id", "X-Forwarded-For")
}

func Bootstrap() {
	http.NewEngine(
		engine.WithAPIGatewayV2(),

		engine.WithLambdaDecorator(apigateway.V2Trace),
		engine.WithLambdaDecorator(datadog.Trace),
	).WithMiddleware(
		middlewares.Language(),
		middlewares.LogRequest(),
		middlewares.SkipWarmup(),
		middleware.CORSWithConfig(corsConfig),
	).{{ if not .UseDig }}SetProvider{{ end }}{{ if .UseDig }}WithResolver{{ end }}(
		{{ if not .UseDig }}New{{ end }}{{ if .UseDig }}Resolver{{ end }},
	).Start()
}
{{ if .UseDig }}
func Resolver(h Handler) {
	h.Register()
}{{ end }}
