package handler

import (
	"net/http"

	"github.com/labstack/echo/v4"

	ehttp "{{ .PackageName }}/projects/framev2/engine/http"
	"{{ .PackageName }}/projects/framev2/engine/http/middlewares"
	"{{ .PackageName }}/projects/framev2/pkg/inject"
)

func init() {
	if err := inject.Get().Provide(New); err != nil {
		panic(err)
	}
}

const path = "{{ .HTTPPathEcho }}"

type Handler struct {
	router ehttp.Router
}

func New(router ehttp.Router) Handler {
	return Handler{
		router: router,
	}
}

func (h Handler) Register() {
	h.router.{{ .HTTPMethod }}(
		path,
		h.handle,
		middlewares.AuthAPIKey(),
	)
}

func (h Handler) handle(ec echo.Context) error {
    // TODO: Implement your logic here
	return ec.JSON(http.StatusOK, map[string]any{"message": "Hello, World!"})
}
