package handler

import (
	"net/http"

	"github.com/labstack/echo/v4"

  {{ if not .UseDig }}"{{ .PackageName }}/pkg/providers"
	{{ end }}ehttp "{{ .PackageName }}/projects/framev2/engine/http"
	"{{ .PackageName }}/projects/framev2/engine/http/middlewares"{{ if .UseDig }}
	"{{ .PackageName }}/projects/framev2/pkg/inject"
	"{{ .PackageName }}/projects/framev2/pkg/logger"{{ end }}
)

{{ if .UseDig }}func init() {
	if err := inject.Get().Provide(New); err != nil {
		logger.Get().Err(err).Fatal("error providing handler")
	}
}{{ end }}

const path = "{{ .HTTPPathEcho }}"

type Handler struct {
	router ehttp.Router
}

func New(router ehttp.Router{{ if not .UseDig }}, _ ...providers.Option{{ end }}) {{ if not .UseDig }}ehttp.{{ end }}Handler {
	return Handler{
		router: router,
	}
}

func (h Handler) Register() {
	h.router.{{ .HTTPMethod }}(
		path,
		h.handle,
		middlewares.AuthAPIKey(),
	)
}

func (h Handler) handle(ec echo.Context) error {
    // TODO: Implement your logic here
	return ec.JSON(http.StatusOK, map[string]any{"message": "Hello, World!"})
}
