package daos

import (
	"time"

	"{{.PackageName}}/{{ .DomainPath }}/domain"
)

const DBPrefix = "{{.DBPrefix}}"

type {{.DomainNamePascal}} struct {
	ID string `gorm:"primaryKey;column:id"`

	// TODO: [generated] Add fields

	CreatedAt time.Time  `gorm:"column:created_at"`
	UpdatedAt time.Time  `gorm:"column:updated_at"`
	DeletedAt *time.Time `gorm:"column:deleted_at"`
}

func (t {{.DomainNamePascal}}) TableName() string {
	return "{{.TableName}}"
}

func FromDomain(m domain.{{.DomainNamePascal}}) {{.DomainNamePascal}} {
	return {{.DomainNamePascal}}{
		ID: m.ID,

		// TODO: [generated] Add fields

		CreatedAt: m.CreatedAt,
		UpdatedAt: m.UpdatedAt,
		DeletedAt: m.DeletedAt,
	}
}

func ToDomain(m {{.DomainNamePascal}}) domain.{{.DomainNamePascal}} {
	return domain.{{.DomainNamePascal}}{
		ID: m.ID,

		// TODO: [generated] Add fields

		CreatedAt: m.CreatedAt,
		UpdatedAt: m.UpdatedAt,
		DeletedAt: m.DeletedAt,
	}
}
