package handler

import (
	"context"
	"embed"

	"github.com/aws/aws-lambda-go/events"

	"{{ .PackageName }}/config/loaders/parsers/yaml"
	"{{ .PackageName }}/pkg/config/loader"
	"{{ .PackageName }}/pkg/config/loader/readers"
	"{{ .PackageName }}/pkg/consumer"
	consumerdecorators "{{ .PackageName }}/pkg/consumer/decorators"
	sqshelpers "{{ .PackageName }}/pkg/consumer/sqs/helpers"
	"{{ .PackageName }}/pkg/providers"
	"{{ .PackageName }}/pkg/lambda/decorators"
	"{{ .PackageName }}/pkg/lambda/decorators/health"
	"{{ .PackageName }}/projects/framev2/pkg/tracer"
	"{{ .PackageName }}/{{ .ServicePath }}/{{ if not .IsLegacy }}cmd/{{ end }}sqs/{{ .LambdaName }}/handler/dtos"
	"{{ .PackageName }}/{{ .ServicePath }}/{{ if not .IsLegacy }}cmd/{{ end }}sqs/{{ .LambdaName }}/handler/worker"
)


//go:embed embed/*.yaml
var embedFs embed.FS

// Bootstrap is the entrypoint of the lambda
func Bootstrap() any {
	return decorators.Handle(
		func(ctx context.Context, event events.SQSEvent) (events.SQSEventResponse, error) {
			newCtx, span := tracer.BeginSubSegment(ctx, "{{ .ServiceName }}.sqs.{{ .LambdaName }}.handler.Bootstrap")
			defer span.Close(nil)

			loader.LoadConfigs(newCtx, loader.WithReaders(
				readers.Embed(embedFs, "embed/.app-config.yaml", yaml.Parser()),
			))

      r := providers.MustAs[*worker.Resources](newCtx, worker.ProvideResources)

			if health.CheckHealthRequest(newCtx) {
				return events.SQSEventResponse{}, nil
			}

			errConsume := consumer.NewSqs(newCtx, event, worker.Worker(r)).
				WithWorkerDecorators(consumerdecorators.IdempotencyOnDeadline[dtos.Event](
					worker.Action,
					r.GenerateIdempotencyKey,
					r.DelIdempotency,
				)).
				Consume()

			return sqshelpers.Response(newCtx, errConsume)
		},
	)
}
