package handler

import (
	"context"
	"embed"

	"github.com/aws/aws-lambda-go/events"

	"{{ .PackageName }}/config/loaders/parsers/yaml"
	"{{ .PackageName }}/pkg/config/loader"
	"{{ .PackageName }}/pkg/config/loader/readers"
	"{{ .PackageName }}/pkg/consumer"
	consumerdecorators "{{ .PackageName }}/pkg/consumer/decorators"
	sqshelpers "{{ .PackageName }}/pkg/consumer/sqs/helpers"
	"{{ .PackageName }}/pkg/providers"
	"{{ .PackageName }}/pkg/lambda/decorators"
	"{{ .PackageName }}/pkg/lambda/decorators/health"
	oteltracer "{{ .PackageName }}/pkg/otel/tracer"
	"{{ .PackageName }}/{{ .ServicePath }}/{{ if not .IsLegacy }}cmd/{{ end }}sqs/{{ .LambdaName }}/handler/dtos"
	"{{ .PackageName }}/{{ .ServicePath }}/{{ if not .IsLegacy }}cmd/{{ end }}sqs/{{ .LambdaName }}/handler/worker"
)


//go:embed embed/*.yaml
var embedFs embed.FS

// Bootstrap is the entrypoint of the lambda
func Bootstrap() any {
	return decorators.Handle(
		func(ctx context.Context, event events.SQSEvent) (events.SQSEventResponse, error) {
			ctx, span := oteltracer.StartSpan(ctx, oteltracer.HandlerSpanName("{{ .ServiceName }}", "{{ .LambdaName }}"),
				oteltracer.WithAttributes(
					oteltracer.Domain("{{ .ServiceName }}"),
					oteltracer.Layer(oteltracer.LayerHandler),
				),
			)
			defer span.End()

			loader.LoadConfigs(ctx, loader.WithReaders(
				readers.Embed(embedFs, "embed/.app-config.yaml", yaml.Parser()),
			))

			r := providers.MustAs[*worker.Resources](ctx, worker.ProvideResources)

			if health.CheckHealthRequest(ctx) {
				return events.SQSEventResponse{}, nil
			}

			errConsume := consumer.NewSqs(ctx, event, worker.Worker(r)).
				WithWorkerDecorators(consumerdecorators.IdempotencyOnDeadline[dtos.Event](
					worker.Action,
					r.GenerateIdempotencyKey,
					r.DelIdempotency,
				)).
				Consume()

			return sqshelpers.Response(ctx, errConsume)
		},
	)
}
