function:
  {{ .LambdaName }}:
    handler: {{if not .IsLegacy}}cmd/{{ end }}cron/{{ .LambdaName }}/main.go
    layers: ${self:custom.otelFunctionLayers}
    disableLogs: true
    reservedConcurrency: ${self:custom.reservedConcurrency.{{ .ReservedConcurrency }}}
    events:
      - schedule:
          rate: '{{ .CronExpression }}'