package {{ .NormalizedServiceName }}

// revive:disable:blank-imports
import (
    _ "{{ .PackageName }}/{{ .ServicePath }}/{{ if not .IsLegacy }}cmd/{{ end }}plain/{{ .LambdaName }}/handler"
    {{.NextImportTag}}
)
