service: {{ .NormalizedServiceName }}

frameworkVersion: '3'

custom:
  stage: ${opt:stage, self:provider.stage}
  otelCollectorLayerArn: arn:aws:lambda:${self:provider.region}:901920570463:layer:aws-otel-collector-arm64-ver-0-117-0:1
  ddExtensionLayerArn: arn:aws:lambda:us-east-2:464622532012:layer:Datadog-Extension-ARM:96
  otelFunctionLayers:
    - Ref: OtelCollectorConfigLambdaLayer
    - ${self:custom.otelCollectorLayerArn}
    - ${self:custom.ddExtensionLayerArn}
  pklConfig: ${file(../../config/sls/pkl-config.yml):config}
  reservedConcurrency: ${file(../../config/sls/concurrency.yml):${self:custom.stage}.reservedConcurrency}
  {{- if .WarmupEnabled }}
  warmup: ${file(../../config/sls/concurrency.yml):${self:custom.stage}.warmup}
  {{- end }}
  {{- if .CustomDomain }}
  customDomain: ${file(../../config/sls/domains.yml):${self:custom.stage}.customDomain}
  domain:
    basePath: '{{ .DomainPath }}'
  {{- end }}

  lambdaInsights:
    defaultLambdaInsights: true

  prune:
    automatic: true
    number: 5

  go:
    cmd: 'go build -ldflags="-s -w" -tags "lambda.norpc,otel"'
    beforeBuild:
      - 'sh ../../scripts/build_pkl.sh "$PWD"'

provider:
  name: aws
  architecture: arm64
  runtime: provided.al2023
  timeout: 30
  stage: ${opt:stage, "dev"}
  region: ${opt:region, "us-east-2"}
  environment: ${file(./config/sls/environment.yml):${self:custom.stage}.environment}
  iam:
    deploymentRole: ${ssm:/service/roles/${self:provider.stage}/deployment-role}
    role:
      Fn::GetAtt: [{{ .RoleName }}LambdaRole, Arn]
  vpc: ${file(../../config/sls/vpc.yml):${self:custom.stage}.vpc}

  httpApi:
    metrics: true

  tracing:
    apiGateway: false
    lambda: false

layers:
  otelCollectorConfig:
    path: config/otel-layer
    name: ${self:service}-${self:custom.stage}-otel-collector-config
    compatibleArchitectures:
      - arm64

resources: ${file(./config/sls/resources.yml)}

functions:
  - ${file(cmd/plain/{{ .LambdaName }}/lambda-config.yml):function}
  {{.NextLambdaImportTag}}

plugins:
  - serverless-plugin-go
  - serverless-plugin-pkl
  - serverless-plugin-lambda-insights
  - serverless-prune-plugin
  - serverless-plugin-s3-remover
  - serverless-plugin-stage-reserved-concurrency
  {{- if .WarmupEnabled }}
  - serverless-plugin-warmup
  {{- end }}
  {{- if .CustomDomain }}
  - serverless-domain-manager
  {{- end }}
