package service_test

import (
	"context"

	"github.com/stretchr/testify/assert"
	"github.com/stretchr/testify/mock"

	"{{.PackageName}}/domains/{{.DomainPath}}/domain"
	prv{{.DomainNameLower}} "{{.PackageName}}/domains/{{.DomainPath}}/providers"
	"{{.PackageName}}/domains/{{.DomainPath}}/repository/daos"
	rpomocks "{{.PackageName}}/domains/{{.DomainPath}}/repository/mocks"
	"{{.PackageName}}/domains/{{.DomainPath}}/service/mocks"
	prvpostgres "{{.PackageName}}/pkg/providers/postgres"
	tmock "{{.PackageName}}/projects/framev2/pkg/test/mock"
)

func (ts *testSuite) TestSuccessCreate() {
	t := ts.T()
	t.Parallel()

	repo := mocks.NewMockRepository(t)

	tw := newTestWrapper(t, withMocks(map[string]any{
		prv{{.DomainNameLower}}.PrvRepository: repo,
	}))

	gen := tw.mu.Get(prv{{.DomainNameLower}}.PrvGeneratorID).(interface{ Generate() (string, error) })
	newID, err := gen.Generate()
	if err != nil {
		t.Fatal(err)
	}

	repo.On("Create", mock.MatchedBy(tmock.AnyContextMatcher()), daos.{{.DomainNamePascal}}{}).
		Return(daos.{{.DomainNamePascal}}{
			ID:        newID,
			CreatedAt: tw.clock.Now(),
			UpdatedAt: tw.clock.Now(),
		}, nil)

	got, err := tw.service.Create(context.TODO(), domain.{{.DomainNamePascal}}{})
	if err != nil {
		t.Fatal(err)
	}

	assert.Equal(t, newID, got.ID)
	assert.IsType(t, domain.{{.DomainNamePascal}}{}, got)

	// TODO: [generated] Add more assertions
}

func (ts *testSuite) TestDuplicatedRecordError() {
	t := ts.T()
	t.Parallel()

	repo := mocks.NewMockRepository(t)

	tw := newTestWrapper(t, withMocks(map[string]any{
		prv{{.DomainNameLower}}.PrvRepository: repo,
	}))

	repo.On("Create", mock.MatchedBy(tmock.AnyContextMatcher()), daos.{{.DomainNamePascal}}{}).
		Return(daos.{{.DomainNamePascal}}{}, domain.ErrDuplicatedRecord)

	got, err := tw.service.Create(context.TODO(), domain.{{.DomainNamePascal}}{})
	if err == nil {
		t.Fatal("expected error")
	}

	assert.ErrorIs(t, err, domain.ErrDuplicatedRecord)
	assert.Empty(t, got)
}

func (ts *testSuite) TestErrorOnIDGeneration() {
	t := ts.T()
	t.Parallel()

	gen := rpomocks.NewMockGeneratorID(t)

	tw := newTestWrapper(t, withMocks(map[string]any{
		prv{{.DomainNameLower}}.PrvGeneratorID: gen,
	}))

	gen.On("Generate").Return("", assert.AnError)

	got, err := tw.service.Create(context.TODO(), domain.{{.DomainNamePascal}}{})
	if err == nil {
		t.Fatal("expected error")
	}

	assert.ErrorIs(t, err, assert.AnError)
	assert.ErrorIs(t, err, domain.ErrUnexpected)
	assert.Empty(t, got)
}

func (ts *testSuite) TestErrorOnCreate() {
	t := ts.T()
	t.Parallel()

	tw := newTestWrapper(t)

	db := tw.mu.Get(prvpostgres.PrvGeneral).(interface{ Close() error })
	if err := db.Close(); err != nil {
		t.Fatal(err)
	}

	got, err := tw.service.Create(context.TODO(), domain.{{.DomainNamePascal}}{})
	if err == nil {
		t.Fatal("expected error")
	}

	assert.ErrorIs(t, err, domain.ErrUnexpected)
	assert.Empty(t, got)
}

// TODO: [generated] Add more tests
