package service_test

import (
	"context"

	"github.com/stretchr/testify/assert"

	"{{.PackageName}}/{{ .DomainPath }}/domain"
	prvpostgres "{{.PackageName}}/pkg/providers/postgres"
)

func (ts *testSuite) TestDeleteSuccess() {
	t := ts.T()
	t.Parallel()

	tw := newTestWrapper(t)

	got, err := tw.service.Create(context.TODO(), domain.{{.DomainNamePascal}}{})
	if err != nil {
		t.Fatal(err)
	}

	deleted, err := tw.service.Delete(context.TODO(), got.ID)
	if err != nil {
		t.Fatal(err)
	}

	assert.Equal(t, got.ID, deleted.ID)
	assert.IsType(t, domain.{{.DomainNamePascal}}{}, deleted)
	assert.NotEmpty(t, deleted.DeletedAt)

	get, err := tw.service.Get(context.TODO(), got.ID)
	if err == nil {
		t.Fatal("Record not deleted")
	}

	assert.ErrorIs(t, err, domain.ErrRecordNotFound)
	assert.Empty(t, get)
}

func (ts *testSuite) TestDeleteNotFoundRecord() {
	t := ts.T()
	t.Parallel()

	tw := newTestWrapper(t)

	got, err := tw.service.Delete(context.TODO(), "some-id")

	assert.ErrorIs(t, err, domain.ErrRecordNotFound)
	assert.Empty(t, got)
}

func (ts *testSuite) TestDeleteUnexpectedError() {
	t := ts.T()
	t.Parallel()

	tw := newTestWrapper(t)

	got, err := tw.service.Create(context.TODO(), domain.{{.DomainNamePascal}}{})
	if err != nil {
		t.Fatal(err)
	}

	db := tw.mu.Get(prvpostgres.ProviderName(prvpostgres.Prv{{ .DBName }})).(interface{ Close() error })
	if err := db.Close(); err != nil {
		t.Fatal(err)
	}

	deleted, err := tw.service.Delete(context.TODO(), got.ID)
	if err == nil {
		t.Fatal("Expected error")
	}

	assert.ErrorIs(t, err, domain.ErrUnexpected)
	assert.Empty(t, deleted)
}
