package service

import (
	"context"

	"github.com/stretchr/testify/assert"
	"github.com/stretchr/testify/mock"

	"{{.PackageName}}/{{ .DomainPath }}/domain"
	tmock "{{.PackageName}}/projects/framev2/pkg/test/mock"
)

func (ts *testSuite) TestDeleteSuccess() {
	t := ts.T()
	t.Parallel()

	tw := newTestWrapper(t)

	expected := domain.{{.DomainNamePascal}}{ID: "some-id"}

	tw.repo.On("Delete", mock.MatchedBy(tmock.AnyContextMatcher()), expected.ID).
		Return(expected, nil)

	deleted, err := tw.service.Delete(context.TODO(), expected.ID)
	if err != nil {
		t.Fatal(err)
	}

	assert.Equal(t, expected.ID, deleted.ID)
	assert.IsType(t, domain.{{.DomainNamePascal}}{}, deleted)
}

func (ts *testSuite) TestDeleteNotFoundRecord() {
	t := ts.T()
	t.Parallel()

	tw := newTestWrapper(t)

	tw.repo.On("Delete", mock.MatchedBy(tmock.AnyContextMatcher()), "some-id").
		Return(domain.{{.DomainNamePascal}}{}, domain.ErrRecordNotFound)

	got, err := tw.service.Delete(context.TODO(), "some-id")

	assert.ErrorIs(t, err, domain.ErrRecordNotFound)
	assert.Empty(t, got)
}

func (ts *testSuite) TestDeleteUnexpectedError() {
	t := ts.T()
	t.Parallel()

	tw := newTestWrapper(t)

	tw.repo.On("Delete", mock.MatchedBy(tmock.AnyContextMatcher()), "some-id").
		Return(domain.{{.DomainNamePascal}}{}, domain.ErrUnexpected)

	deleted, err := tw.service.Delete(context.TODO(), "some-id")
	if err == nil {
		t.Fatal("Expected error")
	}

	assert.ErrorIs(t, err, domain.ErrUnexpected)
	assert.Empty(t, deleted)
}
