package service

import (
	"context"

	"{{.PackageName}}/{{ .DomainPath }}/domain"
	"{{.PackageName}}/projects/framev2/pkg/tracer"
)

func (s *Service) Get(ctx context.Context, id string) (domain.{{.DomainNamePascal}}, error) {
	newCtx, seg := tracer.BeginSubSegment(ctx, "domains.{{.DomainNameLower}}.service.Get")
	defer seg.Close(nil)

	item, err := s.repo.Get(newCtx, id)
	if err != nil {
		_ = seg.AddError(err)
		return domain.{{.DomainNamePascal}}{}, err
	}

	return item, nil
}
