package service_test

import (
	"context"

	"github.com/stretchr/testify/assert"
	"github.com/stretchr/testify/mock"

	"{{.PackageName}}/domains/{{.DomainPath}}/domain"
	prv{{.DomainNameLower}} "{{.PackageName}}/domains/{{.DomainPath}}/providers"
	"{{.PackageName}}/domains/{{.DomainPath}}/repository/daos"
	"{{.PackageName}}/domains/{{.DomainPath}}/service/mocks"
	prvpostgres "{{.PackageName}}/pkg/providers/postgres"
	tmock "{{.PackageName}}/projects/framev2/pkg/test/mock"
)

func (ts *testSuite) TestSuccessGet() {
	t := ts.T()
	t.Parallel()

	repo := mocks.NewMockRepository(t)

	tw := newTestWrapper(t, withMocks(map[string]any{
		prv{{.DomainNameLower}}.PrvRepository: repo,
	}))

	data := daos.{{.DomainNamePascal}}{
		ID: "some-id",

		// TODO: [generated] Add fields

		CreatedAt: tw.clock.Now(),
		UpdatedAt: tw.clock.Now(),
	}

	repo.On("Get", mock.MatchedBy(tmock.AnyContextMatcher()), "some-id").
		Return(data, nil)

	got, err := tw.service.Get(context.TODO(), "some-id")
	if err != nil {
		t.Fatal(err)
	}

	assert.Equal(t, data.ID, got.ID)
	assert.IsType(t, domain.{{.DomainNamePascal}}{}, got)

	// TODO: [generated] add assertions
}

func (ts *testSuite) TestNotFoundRecord() {
	t := ts.T()
	t.Parallel()

	repo := mocks.NewMockRepository(t)

	tw := newTestWrapper(t, withMocks(map[string]any{
		prv{{.DomainNameLower}}.PrvRepository: repo,
	}))

	repo.On("Get", mock.MatchedBy(tmock.AnyContextMatcher()), "some-id").
		Return(daos.{{.DomainNamePascal}}{}, domain.ErrRecordNotFound)

	got, err := tw.service.Get(context.TODO(), "some-id")

	assert.ErrorIs(t, err, domain.ErrRecordNotFound)
	assert.Empty(t, got)
}

func (ts *testSuite) TestUnexpectedError() {
	t := ts.T()
	t.Parallel()

	tw := newTestWrapper(t)

	db := tw.mu.Get(prvpostgres.PrvGeneral).(interface{ Close() error })
	if err := db.Close(); err != nil {
		t.Fatal(err)
	}

	got, err := tw.service.Get(context.TODO(), "some-id")

	assert.ErrorIs(t, err, domain.ErrUnexpected)
	assert.Empty(t, got)
}
