package service

import (
	"context"

	"{{.PackageName}}/domains/{{.DomainPath}}/domain/options"
	"{{.PackageName}}/domains/{{.DomainPath}}/repository/daos"
)

type Repository interface {
	Get(ctx context.Context, id string) (daos.{{.DomainNamePascal}}, error)
	Create(ctx context.Context, m daos.{{.DomainNamePascal}}) (daos.{{.DomainNamePascal}}, error)
	Update(ctx context.Context, id string, fields options.UpdateFields) (daos.{{.DomainNamePascal}}, error)
	Delete(ctx context.Context, id string) (daos.{{.DomainNamePascal}}, error)
	Search(ctx context.Context, opts options.SearchOptions) ([]daos.{{.DomainNamePascal}}, int64, error)
	SearchOne(ctx context.Context, filters options.SearchFilters) (daos.{{.DomainNamePascal}}, error)
}
