package service

import (
	"context"

	"{{.PackageName}}/{{ .DomainPath }}/domain"
	"{{.PackageName}}/{{ .DomainPath }}/domain/options"
)

func (s *Service) Search(ctx context.Context, so options.SearchOptions) ([]domain.{{.DomainNamePascal}}, int64, error) {
	got, total, err := s.repo.Search(ctx, so)
	if err != nil {
		return nil, 0, err
	}

	models := make([]domain.{{.DomainNamePascal}}, len(got))

    for i, d := range got {
        auxModel, errToModel := domain.ToModel(d)
        if errToModel != nil {
            return nil, 0, errToModel
        }

        models[i] = auxModel
    }

	return models, total, nil
}
