package service_test

import (
	"context"

	"github.com/stretchr/testify/assert"

	"{{.PackageName}}/domains/{{.DomainPath}}/domain/options"
	prv{{.DomainNameLower}} "{{.PackageName}}/domains/{{.DomainPath}}/providers"
	"{{.PackageName}}/domains/{{.DomainPath}}/repository/daos"
	"{{.PackageName}}/domains/{{.DomainPath}}/service/mocks"
)

func (ts *testSuite) TestSearchOneSuccess() {
	t := ts.T()
	t.Parallel()

	repo := mocks.NewMockRepository(t)

	w := newTestWrapper(t, withMocks(map[string]any{
		prv{{.DomainNameLower}}.PrvRepository: repo,
	}))

	filters := options.NewSearchFilters()

	repo.On("SearchOne", context.Background(), filters).
		Return(daos.{{.DomainNamePascal}}{ID: "some-id"}, nil)

	got, err := w.service.SearchOne(context.Background(), filters)
	if err != nil {
		t.Fatal(err)
	}

	assert.Equal(t, "some-id", got.ID)
}

func (ts *testSuite) TestSearchOneWhenRepositoryErrorShouldReturnTheSameError() {
	t := ts.T()
	t.Parallel()

	repo := mocks.NewMockRepository(t)

	w := newTestWrapper(t, withMocks(map[string]any{
		prv{{.DomainNameLower}}.PrvRepository: repo,
	}))

	filters := options.NewSearchFilters()

	repo.On("SearchOne", context.Background(), filters).
		Return(daos.{{.DomainNamePascal}}{}, assert.AnError)

	got, err := w.service.SearchOne(context.Background(), filters)
	if err == nil {
		t.Fatal("expected error")
	}

	assert.ErrorIs(t, err, assert.AnError)
	assert.Empty(t, got)
}
