package service

import (
	"testing"

	"github.com/stretchr/testify/suite"

	"{{.PackageName}}/{{ .DomainPath }}/service/mocks"
)

type testWrapper struct {
	repo    *mocks.MockRepository
	service *Service
}

func newTestWrapper(t *testing.T) *testWrapper {
	t.Helper()

	repo := mocks.NewMockRepository(t)

	return &testWrapper{
		repo:    repo,
		service: New(repo),
	}
}

type testSuite struct {
	suite.Suite
}

func TestRun(t *testing.T) {
	suite.Run(t, new(testSuite))
}
