package service

import (
	"testing"
	"time"

	"github.com/stretchr/testify/suite"

	"{{.PackageName}}/{{ .DomainPath }}/service"
	"{{.PackageName}}/pkg/providers"
	"{{.PackageName}}/pkg/providers/test/container"
	"{{.PackageName}}/projects/framev2/pkg/datetime"
)

type testWrapper struct {
	mc      *container.Container
	clock   datetime.Clock
	service *service.Service
}

type testWrapperOptions struct {
	mocks map[string]any
}

type testWrapperOption func(*testWrapperOptions)

func withMocks(mocks map[string]any) testWrapperOption {
	return func(o *testWrapperOptions) {
		o.mocks = mocks
	}
}

func newTestWrapper(t *testing.T, opts ...testWrapperOption) *testWrapper {
	t.Helper()

	options := testWrapperOptions{}

	for _, opt := range opts {
		opt(&options)
	}

	clock := datetime.NewTestClock(time.Now())

	mc := container.New(t)

	for key, value := range options.mocks {
		mc.Override(key, value)
	}

	srv := providers.MustAs[*service.Service](
		t.Context(),
		service.Provide,
		providers.WithTestActor(t),
		providers.WithClock(clock),
		providers.WithContainer(mc),
	)

	return &testWrapper{
		mc:      mc,
		clock:   clock,
		service: srv,
	}
}

type testSuite struct {
	suite.Suite
}

func TestRun(t *testing.T) {
	suite.Run(t, new(testSuite))
}
