package service_test

import (
	"context"
	"time"

	"github.com/stretchr/testify/assert"
	"github.com/stretchr/testify/mock"

	"{{.PackageName}}/domains/{{.DomainPath}}/domain"
	"{{.PackageName}}/domains/{{.DomainPath}}/domain/options"
	prv{{.DomainNameLower}} "{{.PackageName}}/domains/{{.DomainPath}}/providers"
	"{{.PackageName}}/domains/{{.DomainPath}}/repository/daos"
	"{{.PackageName}}/domains/{{.DomainPath}}/service/mocks"
	tmock "{{.PackageName}}/projects/framev2/pkg/test/mock"
)

func (ts *testSuite) TestSuccessUpdate() {
	t := ts.T()
	t.Parallel()

	repo := mocks.NewMockRepository(t)

	tw := newTestWrapper(t, withMocks(map[string]any{
		prv{{.DomainNameLower}}.PrvRepository: repo,
	}))

	data := daos.{{.DomainNamePascal}}{
		ID:        "some-id",
		CreatedAt: tw.clock.Now().Add(-time.Hour),
		UpdatedAt: tw.clock.Now(),
	}

	// TODO: [generated] Add fields and remove mock.Anything
	repo.On("Update", mock.MatchedBy(tmock.AnyContextMatcher()), "some-id", mock.Anything).
		Return(data, nil)

	got, err := tw.service.Update(context.TODO(), "some-id", options.UpdateFields{})
	if err != nil {
		t.Fatal(err)
	}

	assert.Equal(t, data.ID, got.ID)
	assert.IsType(t, domain.{{.DomainNamePascal}}{}, got)
}

func (ts *testSuite) TestErrorUpdatingInexistentRecord() {
	t := ts.T()
	t.Parallel()

	tw := newTestWrapper(t)

	got, err := tw.service.Update(context.TODO(), "some-id", options.UpdateFields{})

	assert.ErrorIs(t, err, domain.ErrRecordNotFound)
	assert.Empty(t, got)
}

// TODO: [generated] Add more tests
