package providers

import (
  "context"
	"os"

  dmnoptions "{{.PackageName}}/{{ .DomainPath }}/domain/options"
  "{{.PackageName}}/{{ .DomainPath }}/repository"
  "{{.PackageName}}/{{ .DomainPath }}/repository/daos"
	"{{.PackageName}}/pkg/providers"
	prvclock "{{.PackageName}}/pkg/providers/clock"
	prvpostgres "{{.PackageName}}/pkg/providers/postgres"
)

type Repository interface {
	Get(ctx context.Context, id string) (daos.{{.DomainNamePascal}}, error)
	Create(ctx context.Context, m daos.{{.DomainNamePascal}}) (daos.{{.DomainNamePascal}}, error)
	Update(ctx context.Context, id string, fields dmnoptions.UpdateFields) (daos.{{.DomainNamePascal}}, error)
	Delete(ctx context.Context, id string) (daos.{{.DomainNamePascal}}, error)
	Search(ctx context.Context, opts dmnoptions.SearchOptions) ([]daos.{{.DomainNamePascal}}, int64, error)
	SearchOne(ctx context.Context, filters dmnoptions.SearchFilters) (daos.{{.DomainNamePascal}}, error)
}


const PrvRepository = "domains.{{ .DomainNameLower }}.repository"

var repoInstance Repository

func ProvideRepository(opts ...providers.Option) (Repository, error) {
  if os.Getenv("STAGE") == "" {
    return provideTestRepository(opts...)
  }

	if repoInstance != nil {
    return repoInstance, nil
  }

  repo, err := createRepoInstance(opts...)
  if err != nil {
    return nil, err
  }

  repoInstance = repo

	return repo, nil
}

func provideTestRepository(opts ...providers.Option) (Repository, error) {
  options, err := providers.BuildOptions(opts...)
  if err != nil {
    return nil, err
  }

  if options.Container.Exists(PrvRepository) {
    return options.Container.Get(PrvRepository).(Repository), nil
  }

  repo, err := createRepoInstance(opts...)
  if err != nil {
    return nil, err
  }

  options.Container.Set(PrvRepository, repo)

  return repo, nil
}

func createRepoInstance(opts ...providers.Option) (*repository.Repository, error) {
  gen, err := ProvideGeneratorID(opts...)
  if err != nil {
    return nil, err
  }

  clock, err := prvclock.ProvideClock(opts...)
  if err != nil {
    return nil, err
  }

  driver, err := prvpostgres.Provide{{.DBProviderFuncName}}(opts...)
  if err != nil {
    return nil, err
  }

  repo := repository.New(driver, clock, gen)

  return repo, nil
}
