package handler

import (
    {{ if not .UseDig }}"{{ .PackageName }}/pkg/providers"
    {{ end }}"{{ .PackageName }}/projects/framev2/engine/lambda"
    "{{ .PackageName }}/projects/framev2/pkg/consumer/v2/sqs"
)

type Event struct {}

type handler struct{}

func New({{ if not .UseDig }}_ ...providers.Option{{ end }}) lambda.Resolver {
    return &handler{}
}

func (h *handler) Handler() lambda.Handler {
    return func(lc lambda.Context) {
        err := sqs.NewConsumer(lc, h.worker).Consume()

        if err != nil {
            lc.Error(err)
            return
        }

        lc.Success(nil)
    }
}