package options

type UpdateFields struct {
	// TODO: [generated] Add fields as pointers
}

func NewUpdateFields() UpdateFields {
	return UpdateFields{}
}

// TODO: [generated] add chaining methods
//
// Example:
// func (uf UpdateFields) WithSomeField(someField string) UpdateFields {
//     uf.SomeField = &someField
//     return uf
// }
